{% extends "user/base.html" %}
{% load static %}
{% block headLinks%}
      <link rel="stylesheet" href="{% static 'user\css\login.css' %}">
      {% endblock %}
{% block body %}
<div>
  <div class="div_img_login">
    <img class= "img__login" src="{% static 'user/img/fondo_login.jpeg' %}">
  </div>
  <div class="div_login">
      <div class="div_login-primary">
          <div class="div_title">
              <h2 id="h2_title">Iniciar sesión</h2>
          </div>
          <div class="div_labels">
            <form method="POST" autocomplete="off" enctype="multipart/form-data" novalidate id="register">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        <br>
                        {{ field }}
                        {% if field.help_text %}
                        <p class="help">
                            {{ field.help_text|safe }}
                        </p>
                        {% endif %}
                    </div>
                {% endfor %}
                <div><a class="btn_pass" href="">¿Has olvidado tu contraseña?</a></div>
                <div class="btn_pass"><a class="btn_pass" href="{% url 'user:register' %}">Registrarse</a></div>
                <button type="submit" class="btn btn-primary "  
                        value="login" onclick="auth_login()">
                        Iniciar sesión
                </button>
              </form>
          </div>
      </div>
  </div>
</div>
{% if user.is_authenticated %}
  <!--meta http-equiv="Refresh" content="0;url=http://127.0.0.1:8000/login/"-->
  <script type="text/javascript">
    window.location="http://{{url_domain}}/profile/";
  </script>
{% endif %}
{% endblock %}