<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark background-navbar">

    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-cente" 
            href="#" role="button" data-toggle="dropdown" aria-expanded="false" id="navbarUser">
              <div class="lh-sm">
                <span class="surname">{{ user.last_name }}</span>
                <br>
                {{ user.first_name }}
            </div>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/profile">Mi Perfil</a>
            <!--a class="dropdown-item" href="#">Favorito</a-->
              {% if request.user.is_staff %}
                <a class="dropdown-item" href="/admin">Administración</a>
              {% endif %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'user_logout' %}">Cerrar Sesion</a>
            </div>
        </ul>
      {% endif %}
    </div>
  </nav>