{% extends "user/base.html" %}
{% load static %}

{% block headLinks%}
  <link rel="stylesheet" href="{% static 'user\css\profile.css' %}">
{% endblock %}

{% block body %}
{% include "user/navbar.html" %}
{% if user.is_authenticated %}
  <div>
    <div class="background_profile">
      <div>
        <!--
          {% if user.profile_picture %}
            <img class="img_photo_profile" src="{{ user.profile_picture.url }}'">
          {% endif %}-->
          <div class="div_name_user">
            <h2>Mi perfil</h2>
            <p>{{user.username}}</p>
          </div>
          <div>
                <div class="mb-3">
                    <p type="text" class="form-control" id="first_name" name="first_name"
                    aria-describedby="emailHelp" value="" placeholder="Nombre">{{ user.first_name }}</p>
                </div>
                <div class="mb-3">
                    <p type="text" class="form-control" id="last_name" name="last_name"
                    aria-describedby="emailHelp" value="" placeholder="Apellido">{{ user.last_name }}</p>
                </div>
                <div class="mb-3">
                    <p type="number" class="form-control" id="document_number" name="document_number"
                    aria-describedby="emailHelp" value="" placeholder="DNI">{{ user.document_number }}</p>
                </div>
                <div class="mb-3">
                    <p type="number" class="form-control" id="number_phone" name="number_phone"
                    aria-describedby="emailHelp" value="" placeholder="Número de telefono">{{ user.number_phone }}</p>
                </div>
                <div class="mb-3">
                    <p type="text" class="form-control" id="address" name="address"
                    aria-describedby="emailHelp" value="" placeholder="Calle">{{ user.address }}</p>
                </div>
                <div class="mb-3">
                    <p type="number" class="form-control" id="number_adress" name="number_adress"
                    aria-describedby="emailHelp" value="" placeholder="Numero de Calle">{{ user.number_adress }}</p>
                </div>
                <a href="{% url 'user:update_profile' %}">
                    <button type="submit" class="btn btn-primary" name="update_profile" value="" onclick="">Modificar datos</button>
                </a>
          </div>
      </div>
  </div>
{% else %}
  <!--meta http-equiv="Refresh" content="0;url=http://127.0.0.1:8000/"-->
  <script type="text/javascript">
    window.location="http://{{url_domain}}/";
  </script>
{% endif %}
{% endblock %}