{% extends "user/base.html" %}
{% load static %}

{% block headLinks%}
      <link rel="stylesheet" href="{% static 'user\css\register.css' %}">
{% endblock %}

{% block body %}
<div>
    <div class="div_img_register">
        <img class= "img__register" src="{% static 'user/img/fondo_login.jpeg' %}">
    </div>
    <div>
        <div  class="div_register">
            <div class="container-form">
                <div class="div_title">
                    <h2 id="h2_title">Sign up</h2>
                </div>
                <div class="div_labels">
                <form  method="POST" enctype="multipart/form-data" novalidate id="register">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field }}
                            <br>
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-register" value="register" onclick="register()">Save register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% if user.is_authenticated %}
  <!--meta http-equiv="Refresh" content="0;url=http://127.0.0.1:8000/login/"-->
  <script type="text/javascript">
    window.location="http://{{url_domain}}/profile/";
  </script>
{% endif %}
{% endblock %}